# Ignore everything
*

# Except ...
!.gitignore

!.bash_aliases
!.gitconfig.template
!.gitignore_global
!.profile
!.vimrc
!.zshrc

!.config/
!.config/user-dirs.dirs

!.config/sublime-text-3/
!.config/sublime-text-3/Packages/
!.config/sublime-text-3/Packages/User/
!.config/sublime-text-3/Packages/User/Preferences.sublime-settings

