[user]
	email = USERNAME@EXAMPLE.COM
	name = YOUR NAME
    signingkey = ABCD1234
[push]
	default = simple
[core]
	excludesfile = /home/USERNAME/.gitignore_global
[commit]
	gpgSign = true
[init]
	defaultBranch = main
