# Ignore everything
*

# Except ...
!.gitignore

!.bash_aliases
!.gitconfig.template
!.gitignore_global
!.profile
!.vimrc
!.zshrc

!.config/user-dirs.dirs
!.config/sublime-text-3/Packages/User/Preferences.sublime-settings
!.oh-my-zsh/custom/kaapstorm.zsh-theme

